.skeleton-50 {
    width: 50%;
}
.skeleton-80 {
    width: 80%;
}
.skeleton-30 {
    width: 30%;
}
.skeleton-100 {
    width: 100%;
}
.skeleton-70 {
    width: 70%;
}
.loadError {
    text-align: center !important;
}
ion-thumbnail.skeleton-card-image {
    width: 100% !important;
    height: 40vh !important;
}
.center-row { 
    align-items: center !important;
    justify-content: center !important;
 }