screen-login .logo {
    min-height: 100px;
    text-align: center;
}
  
screen-login .logo img {
    max-width: 150px;
}
  
screen-login .list {
    margin-bottom: 0;
}

screen-login ion-grid {
    height: 100% !important;
}
screen-login ion-row.row-fix{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
}
